<form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
    <div class="row g-2">
        <div class="form-group col-md-6">
            <label for="NOM">Nom</label>
            <input type="text" formControlName="NOM" class="form-control" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
            <label for="PRENOM">Prenom</label>
            <input type="text" formControlName="PRENOM" class="form-control" placeholder="Prenom">
        </div>
    </div>

    <div class="row g-2">
        <div class="form-group col-md-6">
            <label for="ADRESSE">Adresse</label>
            <input type="text" formControlName="ADRESSE" class="form-control" placeholder="Adresse">
        </div>
        <div class="form-group col-md-6">
            <label for="CP">Cp</label>
            <input type="number" formControlName="CP" class="form-control" placeholder="Cp">
        </div>
    </div>

    <div class="row g-2">
        <div class="form-group col-md-6">
            <label for="VILLE">Ville</label>
            <input type="text" formControlName="VILLE" class="form-control" placeholder="VILLE">
        </div>
        <div class="form-group col-md-6">
            <label for="TEL">Telephone</label>
            <input type="tel" formControlName="TEL" class="form-control" placeholder="Telephone">
        </div>
    </div>

    <div class="row g-2">
        <div class="form-group col-md-6">
            <label for="EMAIL">Email</label>
            <input type="email" formControlName="EMAIL" class="form-control" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="CIVILITE">Civilite</label>
            <select formControlName="CIVILITE" class="form-control">
          <option>Civilite</option>
          <option value="Monsieur">Monsieur</option>
          <option va>Madame</option>
        </select>
        </div>
    </div>

    <div class="row g-2">
        <div class="form-group col-md-6">
            <label for="PASSWORD">Password</label>
            <input type="password" formControlName="PASSWORD" class="form-control" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
            <label for="PASSWORDCONFIRM">Password confirm</label>
            <input type="password" formControlName="PASSWORDCONFIRM" class="form-control" placeholder="Password confirm">
        </div>
    </div>

    <div class="row g-2">
        <div class="form-group col-md-6">
            <label for="LOGIN">Login</label>
            <input type="text" formControlName="LOGIN" class="form-control" placeholder="Login">
        </div>
        <div class="form-group col-md-6">
            <label for="PAYS">Pays</label>
            <input type="text" formControlName="PAYS" class="form-control" placeholder="Pays">
        </div>
    </div>
    <div id="subButton">
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" style="margin-top:30px;">Envoyer</button>
    </div>
</form>